body,html{
  height:100%;
  margin:0;
}
.topnav {
    background-color: #ffffff;
    overflow: hidden;
    display:flex;
    margin-left:3em;

  }

  /* Style the links inside the navigation bar */
  .topnav a {
    display:inline-block;
    color: #f2f2f2;

    padding: 3em 0 0 3em;
    text-decoration: none;
    font-size: 1.5em;
    font-weight:bold;
    font-family:Montserrat,sans-serif;

  }


  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ffffff;
    color:#00430C;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ffffff;
    color:#00430C;
  }
  .topnav img{
      margin:3em;
      width: 5%;
      height:auto;
  }


.logout{

    padding-left:20em;
}
.background{
    background-image: url(../static/background.png);
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;






}
img{
  border-radius:50%;
}
.image{
  float:left;
  margin-top:10em;
  font-family:Montserrat,sans-serif;
  font-size:1.5em;
  font-weight:bold;
}
.image img{
  width:85%;
  height:auto;

}
.image b{
  padding-left:7.5em;
}
.footer{
  float:right;
}

h1{
  font-size:24px;
}
#tick{
 width:5%;
 height:auto;

}
.tick{
  display:block;

}